cfgv==3.3.1; python_full_version >= "3.6.1" and python_version >= "3.8"
distlib==0.3.6; python_version >= "3.8"
filelock==3.9.0; python_version >= "3.8"
identify==2.5.17; python_version >= "3.8"
mypy-extensions==1.0.0; python_version >= "3.7"
mypy==1.0.0; python_version >= "3.7"
nodeenv==1.7.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.8"
platformdirs==3.0.0; python_version >= "3.8"
pre-commit==3.0.4; python_version >= "3.8"
pyyaml==6.0; python_version >= "3.8"
tomli==2.0.1; python_version < "3.11" and python_version >= "3.7"
typing-extensions==4.4.0; python_version >= "3.7"
virtualenv==20.19.0; python_version >= "3.8"
